[".antidote"]
    type = "archive"
    url = "https://github.com/mattmc3/antidote/archive/refs/tags/v1.9.2.tar.gz"
    exact = true
    stripComponents = 1

{{- if and (eq .chezmoi.os "linux") (eq .chezmoi.arch "amd64") }}

[".local/bin/kubectl"]
    type = "file"
    url = "https://dl.k8s.io/release/v1.28.2/bin/linux/amd64/kubectl"
    checksum.sha256 = "c922440b043e5de1afa3c1382f8c663a25f055978cbc6e8423493ec157579ec5"
    executable = true

[".local/bin/flux"]
    type = "archive-file"
    url = "https://github.com/fluxcd/flux2/releases/download/v2.2.2/flux_2.2.2_linux_amd64.tar.gz"
    checksum.sha256 = "292945a94ae370b91fe004e1f41b16063fc87371a61a1fd29958dfd959140a60"
    path = "flux"
    executable = true

{{- end }}

