{{- $personalGpgEncKeyFingerprint := "D73EDDD2DDCFF909" }}

{{- $isPersonalMachine := false }}

{{- if eq .chezmoi.os "linux" }}
{{-     $isPersonalMachine = eq "true" ((output (joinPath .chezmoi.sourceDir ".has-gpg-key.sh") $personalGpgEncKeyFingerprint) | trim) }}
{{- else if eq .chezmoi.os "windows" }}
{{-     $isPersonalMachine = eq "true" ((output "powershell" "-NoProfile" "-ExecutionPolicy" "Bypass" "-File" (joinPath .chezmoi.sourceDir ".has-gpg-key.ps1") $personalGpgEncKeyFingerprint) | trim) }}
{{- end }}

{{- if $isPersonalMachine }}
encryption = "gpg"

[gpg]
    args = ["--quiet"]
    recipient = "rbrownwsws@googlemail.com"
{{- end }}

[diff]
    exclude = ["scripts"]

[data]
    isPersonalMachine = {{ $isPersonalMachine }}
    isWSL = {{ and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}

