{{ if and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
[".local/bin/win32yank.exe"]
  type = "archive-file"
  url = {{ gitHubLatestReleaseAssetURL "equalsraf/win32yank" "win32yank-x64.zip" | quote }}
  executable = true
  path = "win32yank.exe"
{{ end }}

