[".antidote"]
    type = "archive"
    url = "https://github.com/mattmc3/antidote/archive/refs/tags/v2.3.0.tar.gz"
    exact = true
    stripComponents = 1

{{- if and (eq .chezmoi.os "linux") (eq .chezmoi.arch "amd64") }}

[".local/bin/kubectl"]
    type = "file"
    url = "https://dl.k8s.io/release/v1.36.3/bin/linux/amd64/kubectl"
    checksum.sha256 = "ebbd080e7c2e275093b55915722043257eb24004363e20acb3c4d71919f88336"
    executable = true

[".local/bin/flux"]
    type = "archive-file"
    url = "https://github.com/fluxcd/flux2/releases/download/v2.2.2/flux_2.2.2_linux_amd64.tar.gz"
    checksum.sha256 = "292945a94ae370b91fe004e1f41b16063fc87371a61a1fd29958dfd959140a60"
    path = "flux"
    executable = true

{{- end }}

